body {
    height: 100vh;
    width: 100vw;
    background-color: #B5CBBB;
    margin: 0;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 30px;
}  

.image-hero {
    top: 0%;
    left: 50%;
    max-width: 1000px;
    width: 100%;
    height: 700px; 
    border-radius: 100px;
    margin-top: 0rem;
    padding-top: 0rem;
}

.hero-text {
    position: absolute;
    color: #ffffff;
    font-size: 50px;
    font-family: Calibri;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li, a, button {
    font-family: Calibri;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    background-color: #939f99;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
}

.logo {
    cursor: pointer;
}

.nav-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #828e7f;
}

button {
    padding: 9px 25px;
    background-color: rgba(181,194,203,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(130, 132, 127, 0.8);
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 10%;
    top: 12%;
    user-select: none;
}

#image-track > .image {
    width: 60vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

img {
    width: 100%;
    margin-top: 1rem;
    max-width: 300px;
    object-fit: cover;
}

.images {
    columns: 300px;
    padding-left: 30px;
    padding-right: 10px;
}
