body{
    height: 100vh;
    width: 100vw;
    background-color: #B5CBBB;
    margin: 0rem;
    overflow: hidden;
    text-decoration: none;
}

.container {
    width: 80%;              /* Set the width to 80% of the viewport */
    margin: 0 auto;          /* Center the container horizontally */
    max-width: 1800px;       /* Optional: Set a max-width to prevent it from getting too wide on larger screens */
    box-sizing: border-box;  /* Ensure padding and border are included in the width calculation */
    padding: 0 20px;         /* Optional: Add some padding inside the container */
  }
  

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #476850;
    font-family: Calibri;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    padding-left: 100px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: Calibri;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-right: 50px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 10%;
    top: 12%;
    user-select: none;
}

#image-track > .image {
    width: 60vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}